/* General styles */
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap');

body {
  font-family: 'Satoshi', sans-serif;
  background-color: white; /* Setting overall background color */
  margin: 0;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding-bottom: 100px;
  
}

.headerS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  border-bottom: 2px solid whitesmoke;
  box-sizing: border-box;
  position: relative;
}

.logoMark {
  margin-left: 680px;
}

.connectButton {
  position: absolute;
  right: 75px;
}

.job-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-containerR {
display: flex;
flex-direction: column;
align-items: left;
position: relative;
top: 20px;
width: 100%;
}

.titleContainer {
text-align: left;
width: 200px; /* Adjust to a fixed width */
}

.topLine, .bottomLine {
display: flex;
align-items: center;
width: 100%;
justify-content: center;
}

.topLine {
margin-left: -83px; /* Adjust this value to move the line to the left */
  margin-top: 20px; 
}


.title-containerR {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
top: -20px;
width: 100%;
}

.topLine, .bottomLine {
display: flex;
align-items: center;
width: 100%;
justify-content: center;
}

.fixedContainer {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
position: relative;
}

.backButtonContainer {
position: absolute;
width: 55px;
height: 55px;
left: calc(50% - 115px); /* Adjust this value as needed */
}

backButtonR{
width: 550px;
height: 505px;
}

.backIconR {
width: 55px;
height: 55px;
}

.titleContainer {
text-align: left;
margin-left: 95px; /* Adjust this value as needed */
}

.title-containerR h1 {
font-family: 'Satoshi', sans-serif;
font-size: 24px;
color: #4D4D4D;
margin: 0;
}

.bottomLine {
margin-top: 20px; /* Increase space between topLine and bottomLine */
  margin-left:60px;
  display:flex;
  align-content:center;
}

.bottomLine p {
margin: 0;
font-size: 16px;
}

.copyIcon {
width: 24px;
height: 24px;
margin-left: 5px;
cursor: pointer;
}

.radialMenu {
  position: relative;
  margin-top: 200px;
}

.buttonContainerS {
  position: absolute;
  width: 134px;
  height: 134px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  margin-top: 45px;
  text-decoration: none;
  display: none;
  z-index: 2; 
}

.buttonContainerS-primary {
  position: absolute;
  width: 134px;
  height: 134px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  margin-top: 45px;
  text-decoration: none;
  display: flex;
  z-index: 2; 
}

img.buttonImageS {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; 
}

.buttonText {
  ont-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  /* Gray/Darker */
  color: #4D4D4D;
  z-index: 2;
  margin-top: 10px;
  text-decoration: none;
}

#buttonLeftS {
  left: calc(50% - 250px);
  top: calc(50% - 70px);
  transform: translate(-50%, -50%);
  z-index: 3;
  margin-top: 50px;
  opacity:0;
}

#buttonRightS {
  left: calc(50% + 108px);
  top: calc(50% - 70px);
  transform: translate(-50%, -50%);
  z-index: 3;
  margin-top: 50px;
  opacity:0;
}

.buttonLeftInfo, .buttonRightInfo {
  position: absolute;
  width: 150px;
  text-align: left;
  color: #767676;
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-top:50px;
  transition: opacity 1.2s ease;
}

#amountInfoLeft {
  margin-right:-8px;
}

#amountInfoRight {

}

#addressRight {
 margin-left: -15px;
}

#amountLabelRight {
   margin-left: -10px;
}

.buttonLeftInfo {
    display: flex;
    left: calc(50% - 179px - 160px);
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: end;
    gap:5px;
   transition: opacity 1s ease;
}

.buttonRightInfo {
    display: flex;
    flex-direction: column;
    left: calc(50% + 179px + 160px);
    top: 50%;
    transform: translate(-50%, -50%);

    gap:5px
}

.buttonContainerS a {
  text-decoration: none; /* Remove underline from links within buttonContainerS */
  border-radius: 50%; /* Make circular */
  overflow: hidden;
}

.buttonContainerS-primary a {
  text-decoration: none; /* Remove underline from links within buttonContainerS */
  border-radius: 50%; /* Make circular */
  overflow: hidden;
}


#radiantGlow {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 456px;
  width:456px;
  margin-top: 45px;
  transform: translate(-50%, -50%);
  animation: rotate-home 4s linear infinite;
}

.amountInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 27px;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #767676;
  color: color(display-p3 0.463 0.463 0.463);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.amountLabel {
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #767676;
}

.address {
  width: 100px;
  height: 19px;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  color: #050505;
  color: color(display-p3 0.020 0.020 0.020);
  flex: none;
  order: 2;
  flex-grow: 0;
}


#buttonTopS {
top: calc(50% - 165px);
left: 50%;
z-index: 3;
margin-top: -25px;
margin-left: -68px;
opacity:0;
}

#buttonBottomLeftS {
left: calc(50% - 155px);
top: calc(50% + 125px);
transform: translate(-50%, -50%);
z-index: 0;
margin-top: -25px;
margin-left: -68px;
opacity:0;
  
}

#buttonBottomRightS {
left: calc(50% + 155px);
top: calc(50% + 125px);
transform: translate(-50%, -50%);
z-index: 0;
margin-top: -25px;
margin-left: -68px;
opacity:0;
  border-radius: 50%; /* Make circular */
  overflow: hidden;
}


.hidden {
  display: none;
}

.coreContainer:hover #buttonLeftS,
.coreContainer:hover #buttonRightS,
.coreContainer:hover .buttonLeftInfo,
.coreContainer:hover .buttonRightInfo {
display: none;
}

.coreContainer:hover #buttonBottomLeftS,
.coreContainer:hover #buttonBottomRightS {
  display: flex;
}



#buttonTopS.visible-home {
  z-index: 3;
  
  animation: slideInTop 0.5s forwards;
  animation-delay:0.25s;
}


#buttonBottomLeftS.visible-home {
   z-index: 3;

  animation: slideInBottomLeft 0.5s forwards;
  animation-delay:0.25s;
  
}

#buttonBottomRightS.visible-home {
   z-index: 3;
 
  animation: slideInBottomRight 0.5s forwards;
  animation-delay:0.25s;
   
}

#buttonTopS:not(.visible-home) {
  animation: slideOutTop 0.75s forwards, hideAfterSlideOut 0s 0.75s forwards;
}

@keyframes hideAfterSlideOut {
  to {
    display: none;
  }
}

#buttonBottomLeftS:not(.visible-home) {
   z-index: 3;
  animation: slideOutBottomLeft 0.75s forwards, hideAfterSlideOut 0s 0.75s forwards;
  
}

#buttonBottomRightS:not(.visible-home) {
   z-index: 3;
  animation: slideOutBottomRight 0.75s forwards, hideAfterSlideOut 0s 0.75s forwards;
}


.buttonContainerS .buttonIconPS {
  width: 54px;
  height: 54px;
  z-index: 3;
}

.buttonContainerS-primary .buttonIconPS {
  width: 54px;
  height: 54px;
  z-index: 3;
}

.coreContainer {
  position: absolute;
  width: 358.87px;
  height: 358.87px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  margin-top: 45px;
  border-radius: 50%;
  overflow: hidden; /* Ensure the hover effect is contained within the circle */
}
.radialMenu img#core {
  margin-top: 45px;
  border-radius: 50%;
}

.coreImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; /* Allow hover effect on circular area only */

}

.coreText {
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #4D4D4D;
  color: color(display-p3 0.302 0.302 0.302);
  z-index: 2;
  text-align: center;
  margin-top: 13px;
}

.usdcIcon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 1px;
}

#amount-locked {
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #767676;
  color: color(display-p3 0.463 0.463 0.463);
  margin-top: -3px;
}

#usdc{
  margin-bottom: 6px;
  width:16px;
  height:16px;
}

.buttonIconHover{
  width: 20px;
  height: 20px;
  z-index:2;
}

#contractID {
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* Gray/Main */
  color: #868686;
  margin-left: 0px;
  margin-top: 20px;
  margin-right: 0px;
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInBottomLeft {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInBottomRight {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(15px);
  }
}

@keyframes slideOutBottomLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(15px);
  }
}

@keyframes slideOutBottomRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-15px);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(15px);
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-15px);
  }
}

@keyframes slideInLeft {
from {
opacity: 0;
transform: translateX(15px);
}
to {
opacity: 1;
transform: translateX(0);
}
}

@keyframes slideInRight {
from {
opacity: 0;
transform: translateX(-15px);
}
to {
opacity: 1;
transform: translateX(0);
}
}

@keyframes slideOutLeft {
from {
opacity: 1;
transform: translateX(0);
}
to {
opacity: 0;
transform: translateX(15px);
}
}

@keyframes slideOutRight {
from {
opacity: 1;
transform: translateX(0);
}
to {
opacity: 0;
transform: translateX(-15px);
}
}

/* New styles for left and right button visibility and animations */
.hidden-button {
opacity: 0;
animation: slideOut 0.5s forwards;
}

.visible-button {
opacity: 1;
animation: slideIn 0.5s forwards;
}

#buttonLeftS.hidden-button {
animation: slideOutRight 1s forwards;
  transition: z-index 0s 0.5s;
  z-index:0;
}

#buttonRightS.hidden-button {
animation: slideOutLeft 1s forwards;
  transition: z-index 0s 0.5s;
  z-index:0;
}

#buttonLeftS.visible-button {
animation: slideInRight 0.5s forwards;
animation-delay: 0.1s; 
}

#buttonRightS.visible-button {
animation: slideInLeft 0.5s forwards;
animation-delay: 0.1s;
}

@keyframes slideInLeft {
from {
opacity: 0;
transform: translateX(-15px);
}
to {
opacity: 1;
transform: translateX(0);
}
}

@keyframes slideInRight {
from {
opacity: 0;
transform: translateX(15px);
}
to {
opacity: 1;
transform: translateX(0);
}
}

@keyframes slideOutLeft {
from {
opacity: 1;
transform: translateX(0);
}
to {
opacity: 0;
transform: translateX(-15px);
}
}

@keyframes slideOutRight {
from {
opacity: 1;
transform: translateX(0);
}
to {
opacity: 0;
transform: translateX(15px);
}
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height to cover the page */
}

.loading-icon {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.buttonRightInfo.hidden {
  display:none;
}


.newTitle {
  margin-top:4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleTop {
  display: flex;
  align-items: center;
}

.titleBottom {
  display: flex;
  align-items: center;
}

.titleText {
  margin-left: 20px;
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  /* Gray/Darker */
  color: #4D4D4D;
  color: color(display-p3 0.302 0.302 0.302);
}

.goBack {
  margin-left:-15px;
  height: 40px;
  width: 40px;
}

.titleBottom p:first-of-type {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #868686;
  color: color(display-p3 0.525 0.525 0.525);
}

.copyImage{
  margin-left:5px;
  cursor: pointer;
}


.single-job-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

