.custom-button {
    padding: 4px 12px;
    border-radius: 8px;
    border: 4px solid #FFF;
    border: 4px solid color(display-p3 1 1 1);
    background: linear-gradient(180deg, #F4F4F4 0%, #FEFEFE 100%);
    background: linear-gradient(180deg, color(display-p3 0.9569 0.9569 0.9569) 0%, color(display-p3 0.9961 0.9961 0.9961) 100%);
    box-shadow: 0px 0px 0.386px 1.158px rgba(0, 0, 0, 0.05), 0px 4.634px 5.02px -2.317px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 0.386px 1.158px color(display-p3 0 0 0 / 0.05), 0px 4.634px 5.02px -2.317px color(display-p3 0 0 0 / 0.10);
    font-size: 12px;
    color: #6d6d6d;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .custom-button:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -2px -2px 6px rgba(255, 255, 255, 0.7);
  }
  
  .custom-button:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  }
  
  .custom-button:focus {
    outline: none;
  }
  