@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
}


body {
  background-color: white; /* Setting overall background color */
  margin: 0;
}

.headerVJ {
  height: 80px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 0 20px;
  border-bottom: 1px solid snow;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


img#connectButtonVJ {
  width: 115px;
  height: 45px;
  cursor: pointer;
  right:75px;
}

.usdcIcon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.view-jobs-container {
  position: relative;
  width: 100%;
  max-width: 918px;
  margin: 0 auto;
  top: 60px;
  border-bottom:none;
}

/* Title Section */
.title-section {
  height:40px;
  display: flex;
  align-items: center;
  border-radius: 24px 24px 0px 0px;
  background-color: #ffffff;
  /* padding: 10px;
  padding-top: 30px;
  padding-bottom: 25px; */
  border: 2px solid whitesmoke;
  border-bottom: none;
}

.title-section .backButton {
  width: 40px; /* Set the width to 35px */
  height: 40px; /* Set the height to 35px */
  /* margin-left: 33px; */
  margin-right: -45px;
  padding-top:2px;
}

.title-section .tableTitleV {
  font-family: 'Satoshi', sans-serif;
  font-style: bold;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  /* Base/Black */
  color: black;
;
}

/* Table Section */
.table-section {
  height: auto;
  background-color: #ffffff;
  padding: 10px;
  padding-top:35px;
  border-radius: 0px 0px 24px 24px;
  border: 2px solid whitesmoke;
}

.backButtonV {
  width: 50px; /* Set the width to 35px */
  height: 50px; /* Set the height to 35px */
  margin-left: 48px;
  margin-right: -40px;
}

.backIconV {
  width: 50px; /* Make the icon fit the container */
  height: 50px; /* Make the icon fit the container */
}

.tableTitleV {
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-size: 24px; /* Adjust font size as needed */
  margin-left: 70px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color:#050505;
}

.tableSubtitle {
  font-family: 'Satoshi', sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.02em;
  /* Base/Black */
  color: #050505;
  margin-bottom: 20px;
  margin-left: 36px;

}

.table {
  width: 100%;
  border-collapse: collapse; /* Remove borders between table cells */
  border: none;
}

/* Apply border to table header */
.table thead th {
  position: relative;
  background-color: white;
  padding-bottom: 0px
}

.table thead th::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 1px;
  background-color: transparent;
  border-bottom: 1px solid #e9ecf0;
}

.table thead th:first-child::after {
  left: 0px; /* Clip from the start */
}

.table thead th:last-child::after {
  right: 0px; /* Clip from the end */
}

/* Table Row Style */
.table tbody tr {
  position: relative; /* Ensure positioning context for pseudo-elements */
  background-color: white; /* Set background color to white */
}

/* Decrease the distance between the 2nd, 3rd, and 4th columns */
.table thead tr th:nth-child(2),
.table thead tr th:nth-child(3),
.table thead tr th:nth-child(4),
.table tbody tr td:nth-child(2),
.table tbody tr td:nth-child(3),
.table tbody tr td:nth-child(4) {
  padding-left: 7px; /* Adjust the value as needed */
  padding-right: 7px; /* Adjust the value as needed */
}


/* Custom Bottom Border */
.table tbody tr::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: transparent; /* Ensure the background is transparent */
  border-bottom: 1px solid #e9ecf0; /* Correct way to set border color */
}

/* To avoid double borders on the last row */
.table tbody tr:last-child::after {
  display: none;
}

/* Apply border to table header */
.table thead tr::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 24px;
  right: 24px;
  height: 1px;
  background-color: transparent;
}

.table th,
.table td {
  padding: 10px; /* Adjust padding as needed */
  text-align: left;
  color: #868686; /* Set text color for table cells */
}

.table th {
  height: 48px; /* Set header row height */
  color: black;/* label */

  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
 
  /* Base/Black */
  color: #050505;
  color: color(display-p3 0.020 0.020 0.020);

  background-color: white; /* Set background color for table headers */
  border: none;
}

.table td {
  border: none; /* Remove borders from table cells */
}

.table th:first-child,
.table td:first-child {
  padding-left: 36px; /* Adjust left padding for the first column */
}

.table th:last-child,
.table td:last-child {
  padding-right: 0px; /* Adjust right padding for the last column */
}

/* Job Title Column Text Styling */
.table td:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #050505;
}

.table thead tr th:nth-child(7),
.table tbody tr td:nth-child(7) {
  padding-right: 15px; /* Adjust the value as needed */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border:none;
}

.page-link {
  padding: 8px 12px;
  margin: 0 4px;
  border: 0px solid #ffffff;
  background-color: #fff;
  color: #868686;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pagination-icon {
  width: 35px; /* Adjust icon size */
  height: 35px;
  margin-right: 5px; /* Adjust icon margin */
}

.page-text {
  padding: 8px 12px;
  font-size: 14px;
}

.docIcon {
  vertical-align: middle; /* Align the icon vertically */
  margin-right: 16px; /* Adjust margin between icon and text */
  width:32px;
  height:32px;
}

#fromAdd, #toAdd {


  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  /* Gray/Main */
  color: #868686;

}

.table td img.docIcon {
  display: inline-block; /* Ensure the icon aligns with text vertically */
  vertical-align: middle; /* Align the icon vertically */
}

.table td span {
  display: inline-block; /* Ensure the text aligns with icon vertically */
  vertical-align: middle; /* Align the text vertically */
}

.amount-cellVJ {
  position: relative;
  text-align: right;
}

.amountV {
  display: inline-block; /* Ensure the amount and icon stay on the same line */
  padding-left: 18px;
  
}

.amountV:after {
  content: ''; /* This pseudo-element will contain the USDC icon */
  display: inline-block;
  width: 15px; /* Adjust width of the icon */
  height: 15px; /* Adjust height of the icon */
  background: url('/xdc.png') no-repeat center; /* Use the USDC icon as background */
  background-size: contain; /* Ensure the icon fits within the space */
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  right: 105px; /* Adjust this value to position the icon at the extreme right */
}

.view-icon-cell {
  text-align: left; /* Align contents to the left */
}

/* Icon between From and To columns */
.from-to-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0 8px;
}

.from-to-icon-cell {
  width: 24px;
}

.table td:nth-child(2) { /* To column */
 width: 20px;
}


.dropdownButtonContainer {
  display: flex;
  align-items: center;
  position: absolute;
  right: 60px;
}

.dropdownButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdownIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.walletAddressText {
  width: 93px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* Gray/Main */
  color: #868686;
  color: color(display-p3 0.525 0.525 0.525);
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdownMenu {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: space-between;
  z-index:4;
}

.dropdownMenuItem {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  padding-left: 20px;
  padding-right: 24px;
  cursor: pointer;
  border-bottom: 1px #4D4D4D;
}

.dropdownMenuItem:hover {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdownMenuItemText {
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-right: 8px;
}

.dropdownMenuItemIcon {
  width: 18px;
  height: 18px;
}

.dropdownButton.clicked + .dropdownMenu {
  display: flex;
}


.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Adjust height as needed */
}

.loading-icon {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.body-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  width: 100%;
 /* Add padding to handle smaller screens */
  padding-bottom: 200px;
}


