.user {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #050505;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Satoshi';
}

.userIcon {
    width: 32px;
    border: 2px solid #c2cccf;
    border-radius: 32px;   
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #868686;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Satoshi';
}

.experience {
    color: #868686;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Satoshi';
}

.hourly-rate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    color: #868686;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Satoshi';
}