.skills-required {
  display: flex;
  align-items: center;
  gap: 8px;
}

.budget {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
}

.view-detail {
  display: flex;
  align-items: center;
  gap: 8px;
}