.form-navigationDC {
    display: flex;
    align-items: center;
    gap: 28px;
}
  
  .backButtonDC {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 0;
  }
  
  .backIconDC {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  
  .backButtonDC {
    width: 45px;
    height: 45px;
  }
  
  .formTitleDC {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4D4D4D;
  }
  
  
  .formTitleDC::after {
    content: "";
    display: block;
    margin-left:-41px;
    width: 532px;
    height: 1px;
    background-color: whitesmoke; /* Snow colored line */
    position: absolute;
    bottom: -10px; /* Adjust the value as needed for spacing */
    left: 0;
  }