.payment-item {
    padding: 24px 32px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #f7f7f7;
    border-radius: 24px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail {
    padding: 4px 0px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #575757;
    font-size: 14px;
    font-weight: 500;
}

.date {
    font-size: 12px;
    font-weight: 500;
    color: #868686;
}