.blue-button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px 16px;
    white-space: pre;
    background-color: #1246ff;
    border: 4px solid #3f69ff;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}